.bd-info {
  background-color: black;
  color: white;
  border: 5px solid red;
}
.bd-info h1 {
  color: red;
  border: 3px solid green;
  /*margin: 10px;*/
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 0px;

  /*padding: 10px;*/
  padding: 20px 10px 20px 10px;
}
.bd-info2 {
  background-color: green;
  color: yellow;
  border: 5px dotted blue;
}
.bd-info2 h1 {
  color: white;
}
